// --colors--
$primaryColor: #05be74;
$secondryColor: #e9aa13;
$whiteColor: #f4f4f4;
$blackColor: #222;
$darkBlueColor: #00082a;
$lightBlueColor: #152052;

// --font sizes--
$xxlText: 5rem;
$xlText: 4rem;
$lText: 2.5rem;
$mText: 2rem;
$nText: 1.6rem;
$sText: 1.2rem;
