.homePage {
  @include container_1920;
  // ----heroSection-----
  .heroSection {
    @include container_1420;
    margin: 10vh auto;
    min-height: 70vh;
    .heroSectionContainer {
      position: relative;
      overflow: hidden;
      background-image: linear-gradient(160deg, #202b54 0%, #0d132f 100%);
      border-radius: 30px;
      @include mediumScreen {
        margin: 5vh auto;
      }
      .boxes {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2vw;
        position: relative;
        z-index: 4;
        @include mediumScreen {
          grid-template-columns: 100%;
          padding: 4vw;
        }
        // -
        .infoBox {
          .tagBox {
            // width: min(300px, 90%);
            background-color: aqua;
            padding: 1rem 2rem;
            display: inline-flex;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background: linear-gradient(100deg, #ebcc63 0%, #0bcb73 100%);
            gap: 10px;
            align-items: center;
            margin-bottom: 2rem;
            .bookIcon {
              font-size: 3rem;
              color: $blackColor;
              @include mediumScreen {
                font-size: 2rem;
              }
            }
            h2 {
              font-size: 2rem;
              font-weight: 400;
              @include mediumScreen {
                font-size: 1.6rem;
              }
            }
          }
          .heading {
            margin-bottom: 2rem;
            font-size: $xxlText + 2rem;
            line-height: 9rem;
            @include bigScreen {
              font-size: $xxlText;
              line-height: 6rem;
            }
            @include mediumScreen {
              font-size: $xlText;
              line-height: 5rem;
            }
            span {
              @include primaryColorHover;
            }
          }
          .emailForm {
            margin-bottom: 1rem;

            form {
              display: flex;
              gap: 1rem;
              @include mediumScreen {
                display: grid;
                grid-template-columns: 70% 30%;
              }
              input {
                width: 100%;
                border-radius: 54px;
                outline: none;
                padding: 0 2rem;
                background-color: $darkBlueColor;
                color: $whiteColor;
                border: 2px solid #465286;
              }
              button {
                @include commonButton;
                white-space: nowrap;
                @include mediumScreen {
                  font-size: 1.2rem;
                  padding: 1rem;
                }
              }
            }
          }
          .sliderDiv {
            padding: 1rem;
            .title {
              font-size: 1.4rem;
            }
            .sliderBox {
              width: 100%;
              overflow: hidden;
              margin: 2rem 0;

              .heroSectionLogosSlider {
                width: 100%;
                padding: 0 0.5rem;
                .swiper-wrapper {
                  width: 100%;
                  .slideDiv {
                    width: 100%;
                    img {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        // -
        .imageBox {
          picture,
          img {
            width: min(450px, 90%);
            display: block;
            margin: auto;
          }
        }
      }
      // -backgroundImageContainer
      .backgroundImageContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  // ----//heroSection-----

  // ----second section----
  .secondSection {
    @include container_1420;
    min-height: 100vh;
    background: radial-gradient(closest-side at 50% 50%, $lightBlueColor, $darkBlueColor);
    .secondSectionContainer {
      width: 100%;
      padding: 5vh 2vw;
      @include bigScreen {
        padding: 5vh 0;
      }
      // -headingBox-
      .headingBox {
        margin: 2rem 0 4rem 0;
        h2 {
          @include commongHeading;
          text-align: center;
          span {
            @include primaryColorHover;
          }
        }
      }
      // -boxes-
      .boxes {
        display: grid;
        grid-template-columns: 35% auto;
        padding: 2rem 0;
        @include largeScreen {
          grid-template-columns: 100%;
        }
        .imageBox {
          @include largeScreen {
            text-align: center;
          }
          picture,
          img {
            width: min(450px, 90%);
          }
        }
        .cardsBox {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          gap: 2.5rem;
          padding: 1rem;
          @include bigScreen {
            gap: 1.5rem;
          }
          @include largeScreen {
            grid-template-columns: repeat(1, 1fr);
            text-align: left;
          }
          // -card
          .card {
            background: $lightBlueColor;
            border: 2px solid #465286;
            border-radius: 10px;
            padding: 1.5rem;
            transition: 0.3s;
            &:hover {
              background: radial-gradient($darkBlueColor, $lightBlueColor);
              border: 2px solid $primaryColor;
            }
            .tags {
              display: flex;
              gap: 1rem;
              font-size: 1.3rem;
              .price {
                background-color: $secondryColor;
                padding: 0.3rem 0.7rem;
                border-radius: 3px;
                display: flex;
                align-items: center;
              }
              .rating {
                background-color: #465286;
                padding: 0.3rem 0.7rem;
                border-radius: 3px;
              }
            }
            .content {
              h3 {
                font-size: 2.5rem;
                margin: 2rem 0;
                @include largeScreen {
                  font-size: 2rem;
                  margin: 1rem 0;
                }
              }
              p {
                font-size: 1.6rem;
                margin-bottom: 1rem;
                @include largeScreen {
                  font-size: 1.4rem;
                }
              }
            }
          }
          // -
          .btnDiv {
            grid-column: 1/-1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 2rem;
            .startBtn {
              background-color: $secondryColor;
              font-size: 1.6rem;
              font-weight: 600;
              padding: 1rem 2rem;
              border-radius: 54px;
            }
            .videoModelBtn {
              background-color: $secondryColor;
              font-size: 2rem;
              font-weight: 600;
              height: 50px;
              width: 50px;
              border: none;
              border-radius: 50%;
              color: white;
              animation: slideIn 1s ease-in-out 0.5s infinite;
              @keyframes slideIn {
                from {
                  box-shadow: 0 0 0px 0px #ebcc637a;
                }
                to {
                  box-shadow: 0 0 5px 10px #ebcc637a;
                }
              }
            }
          }
        }
      }
    }
  }
  // ----//second section----

  // ----forth section----
  .forthSection {
    @include container_1420;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .forthSectionContainer {
      width: 100%;
      margin: 10vh auto;
      .boxes {
        display: grid;
        grid-template-columns: auto 30%;
        @include largeScreen {
          grid-template-columns: 100%;
        }
        // -contentBox
        .contentBox {
          padding-right: 10vw;
          @include largeScreen {
            text-align: center;
            padding-right: 0vw;
          }
          .heading {
            @include commongHeading;
            span {
              @include primaryColorHover;
            }
          }
          .pera {
            font-size: 1.6rem;
            margin: 2vw 0;
          }
          .numbersBox {
            display: flex;
            justify-content: space-between;
            @include largeScreen {
              flex-direction: column;
              align-items: center;
              text-align: center;
              gap: 2rem;
            }
            .box {
              .num {
                font-size: 3.5rem;
                font-weight: 600;
              }
              .title {
                font-size: 1.6rem;
              }
              .subTitle {
                font-size: 1.4rem;
                color: #ffffff66;
              }
              &.ratingCourse {
                .stars {
                  margin-top: 2rem;
                  display: flex;
                  font-size: 1.4rem;
                  gap: 0.5rem;
                  color: $secondryColor;
                  @include largeScreen {
                    justify-content: center;
                    margin-top: 1rem;
                  }
                }
              }
              &.tutorials {
                .youBox {
                  margin-top: 2rem;
                  display: flex;
                  font-size: 1.6rem;
                  gap: 0.5rem;
                  align-items: center;
                  color: #ffffff88;
                  @include largeScreen {
                    margin-top: 1rem;
                  }
                  .icon {
                    color: red;
                  }
                }
              }
              &.registarions {
                .link {
                  margin-top: 2rem;
                  display: flex;
                  font-size: 1.6rem;
                  color: $whiteColor;
                  display: flex;
                  gap: 0.7rem;
                  align-items: center;
                  @include largeScreen {
                    justify-content: center;
                    margin-top: 1rem;
                  }
                  span {
                    height: 1.5rem;
                    width: 1.5rem;
                    background-color: $whiteColor;
                    color: $blackColor;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
        // -imageBox
        .imageBox {
          @include largeScreen {
            margin-top: 4rem;
            text-align: center;
          }
          picture,
          img {
            width: min(450px, 90%);
          }
        }
      }
    }
  }
  // ----//forth section----

  // ----fifth section----
  .fifthSection {
    @include container_1420;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .fifthSectionContainer {
      width: 100%;
      margin: 10vh auto;
      .boxes {
        .heading {
          @include commongHeading;
          text-align: center;
          width: min(620px, 99%);
          margin: auto;
        }
        // -videoBox
        .videoBox {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2vw;
          margin-top: 4vw;
          @include largeScreen {
            grid-template-columns: repeat(2, 1fr);
          }
          @include smallScreen {
            grid-template-columns: repeat(1, 1fr);
            padding: 1rem;
            gap: 2rem;
          }
          .videoCard {
            border-radius: 20px;
            overflow: hidden;
            background-color: $lightBlueColor;
            .imgBox {
              position: relative;
              aspect-ratio: 16 / 10;
              overflow: hidden;
              background-color: rebeccapurple;
              cursor: pointer;

              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.8);
              }
              .playBtn {
                position: absolute;
                top: 0;
                left: 0;
                width: 7rem;
                height: 7rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: transparent;
                border: 3px solid $whiteColor;
                color: $whiteColor;
                font-size: 2.5rem;
                box-shadow: 0px 0px 10px $whiteColor;
                filter: brightness(0.9);
              }
            }
            .content {
              padding: 1.6rem 2rem;
              .title {
                font-size: $lText;
                margin-bottom: 1rem;
                font-weight: 500;
              }
              .subTitle {
                font-size: $sText + 0.4rem;
                font-weight: 400;
              }
              .review {
                display: flex;
                align-items: center;
                font-size: $sText;
                gap: 1rem;
                color: $lightWhiteColor;
                .stars {
                  color: $secondryColor;
                  font-size: $sText + 0.3rem;
                }
              }
              .tags {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                font-size: 1.6rem;
                margin-top: 1rem;

                .tag {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  .name {
                    color: $lightWhiteColor;
                  }
                }
              }
              .timeing {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 2rem;
                padding: 2rem 0;
                border-top: 2px solid $lightWhiteColor;
                gap: 2rem;
                .box {
                  display: flex;
                  align-items: center;
                  font-size: 1.4rem;
                  gap: 0.5rem;
                  color: $whiteColor;
                }
              }
            }
          }
        }
      }
    }
  }
  // ----//fifth section----
  // ----seventh Section----
  .seventhSection {
    @include container_1420;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .seventhSectionContainer {
      width: 100%;
      margin: 10vh auto;
      .boxes {
        .heading {
          @include commongHeading;
          text-align: center;
          width: min(400px, 99%);
          margin: auto;
        }
        // planCards
        .planCards {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
          margin-top: 4vw;
          @include bigScreen {
            grid-template-columns: repeat(2, 1fr);
          }
          @include smallScreen {
            grid-template-columns: repeat(1, 1fr);
          }
          .planCard {
            background-color: $lightBlueColor;
            border: 2px solid $primaryColor;
            border-radius: 10px;
            padding: 2rem;
            .status {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 2rem;
              .name {
                display: flex;
                align-items: center;
                gap: 1rem;
                .icon {
                  font-size: 1.3rem;
                  color: $secondryColor;
                }
                p {
                  font-size: 2rem;
                }
              }
              .type {
                font-size: $nText;
                color: $lightWhiteColor;
              }
            }
            .price {
              font-size: $lText + 0.5rem;
              margin-bottom: 2rem;
              @include largeScreen {
                font-size: $lText;
              }
            }
            .points {
              ul {
                padding-left: 2rem;
                position: relative;
                li {
                  font-size: $nText;
                  margin-bottom: 1rem;

                  &:hover {
                    color: $secondryColor;
                  }
                  &:before {
                    content: "+";
                    position: absolute;
                    left: 0;
                  }
                }
              }
            }
            .bottomLinks {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 1.6rem;
              margin-top: 3rem;
              margin-bottom: 1rem;
              .demoLink {
                color: $whiteColor;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                font-weight: 600;
                font-size: $nText;
                @include largeScreen {
                  font-size: $sText;
                }
                span {
                  margin-top: 0.3rem;
                  background-color: $whiteColor;
                  height: 2rem;
                  width: 2rem;
                  border-radius: 50%;
                  color: $blackColor;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: $sText;
                  @include largeScreen {
                    height: 1.5rem;
                    width: 1.5rem;
                    font-size: $sText - 0.3rem;
                    margin-top: 0.1rem;
                  }
                }
              }
              .startLink {
                @include commonButton;
                @include largeScreen {
                  font-size: $sText;
                }
              }
            }
            // -last card
            &:nth-child(4) {
              background-image: linear-gradient(110deg, #ebcc63 0%, #0bcb73 100%);
            }
          }
        }
      }
    }
  }
  // ----//seventh Section----
}

// ----modal boxes----
#searchBoxModal {
  @include modalBox;
  .content {
    width: min(700px, 90%);
    .search {
      width: 100%;
      display: grid;
      grid-template-columns: auto 150px;
      height: 50px;
      border-radius: 54px;
      overflow: hidden;
    }
    input {
      height: 100%;
      border: none;
      padding: 0 2rem;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: $secondryColor;
      border: none;
      color: $whiteColor;
      font-size: 2rem;
    }
  }
  &.searchModalActive {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
#videoBoxModal {
  @include modalBox;
  .content {
    width: min(700px, 90%);
  }
  &.videoModalActive {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
